html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}

h1:focus {
    outline: none;
}

#response-body-editor,
.response-body-editor {
    height: calc(100vh - 147px);
    min-height: 200px;
}

#request-body-editor-json,
#request-body-editor-text,
#request-body-editor-xml,
.request-body-editor {
    /*height: 300px;*/
    height: calc(100vh - 208px);
    min-height: 200px;
}

@media (max-width: 1280px) {
    .request-body-editor,
    .response-body-editor {
        height: 30vh !important;
    }
}

.method-selector .mud-input-slot {
    font-weight: 700;
}

.history-item {
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.history-item:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.blazor-error-boundary {
    background: #b32121;
    padding: 1rem;
    color: white;
}

.blazor-error-boundary::after {
    content: "An error has occurred.";
}

.method-selector-dropdown {
    width: 120px;
    flex-grow: unset;
}

.floating-container {
    min-height: 100vh;
    margin-top: calc(var(--mud-appbar-height) * -1);
}

.drawer-container {
    top: 0 !important;
    height: 100% !important;
}

.h-100 { height: 100%; }
.w-100 { width: 100%; }
